<form>
  <div class="form-group">
    <label for="nomComplet">Nom complet</label>
    <input type="text" class="form-control" id="nomComplet" placeholder="Nom complet">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="telephone">Téléphone</label>
    <input type="tel" class="form-control" id="telephone" placeholder="Téléphone">
  </div>
  <button type="submit" class="btn btn-primary">Ajouter</button>
</form>
