<div class="list-group">
  <a routerLink="1" class="list-group-item list-group-item-action" routerLinkActive="active">
    Cras justo odio
  </a>
  <a routerLink="2" class="list-group-item list-group-item-action" routerLinkActive="active">Dapibus ac facilisis
    in</a>
  <a routerLink="3" class="list-group-item list-group-item-action" routerLinkActive="active">Morbi leo risus</a>
  <a routerLink="4" class="list-group-item list-group-item-action" routerLinkActive="active">Porta ac consectetur
    ac</a>
</div>

<a routerLink="add" class="btn btn-primary btn-block mt-3">Ajouter</a>
